.head-dep-section-home-page {
  background-image: url("../../assests/headdepbackgrnd.png");
  min-height: 75vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 99.5vw;
}
.blue-filter {
  background-color: rgba(9, 22, 34, 0.95);
  min-height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  gap: 30px;
}
.head-dep-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
}
.description-container-head-dep {
  display: flex;
  flex-direction: column;
}
.image-container-head-dep {
  /* position: relative;
  overflow: hidden; */
  height: 40vh;
  width: 30vw;
}
.description-container-head-dep {
  width: 30vw;
  line-height: 30px;
}
.head-dep-name {
  font-weight: 300;
}
.image-head-dep {
  height: 40vh;
  width: 30vw;
}
