/* Navbar container */
.navbar {
    overflow: hidden;
    font-family: "Montserrat";
    color: black;
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    border-bottom: 4px solid whitesmoke;
    background-color: white;

    padding: 0px 10px;
  }
  .navbar-logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
    padding: 14px 20px 14px 12px;
    width: 70px;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #151526;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover,
  .dropdown:hover .dropbtn {
    color: #3162a4;
   
  }
  .navbar a:hover,
  .dropdown:hover{
    background-color: whitesmoke;  
  }

  
  /* Dropdown content (hidden by default) */
  .dropdown-menu {
    display: none;
    position: absolute;
    border: 1px solid whitesmoke;
    min-width: 14rem;
    z-index: 1;
    background-color: white;
  }
  
  /* Links inside the dropdown */
  .dropdown-menu a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropbtn {
    border-radius: 4px;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 32px;
    padding: 24px 19px;
    transition: all 0.5s;
    cursor: pointer;
    position: relative;
  }
  
  .dropbtn:after {
    content: "»";
    position: absolute;
    opacity: 0;
    top: 14px;
    right: -10px;
    transition: 0.5s;
  }
  
  .dropbtn:hover:after {
    opacity: 1;
    transform: rotate(90deg); /* add rotation transform */
    right: 5px;
    top: 50%; /* change position */
    margin-top: -10px; /* change position of the arrows to the center*/
  }
 
  #last-dropdown-menu {
    overflow: unset;
  
    margin-left: -168px;
    float: right;
    overflow: hidden;
  }
  .navbar-title {
    margin-right: auto;
    margin-left: 12px;
  }
  
  .navbar-title > span {
    color: #3162a4;
  }
  /* *{
    border: 1px solid red;
  } */
  /* #transform-div {
    display: none;
    transition: transform 0.3s ease;
    margin-top: 200px;
  }
  
  #transform-div:after{
    display: block;
    transition: 0.5s;
  }
  #hover-button:hover + #transform-div {
    display: block;
    transition: transform 0.5s ease;
    transform: translateY(-100px);
  } */