.footer {
  /* background-color: rgba(49, 98, 164, 0.25); */
  height: 28rem;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  gap: 90px;
  padding-bottom: 15px;
  background-color: #0b2239;
  color: white;
}
.footer-row-one {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 60px;
}

.footer-section-one {
  display: flex;
  flex-direction: column;
}
.footer-section-one > p {
  line-height: 25px;
  max-width: 20vw;
}

.footer-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.footer-title {
  margin-right: auto;
  margin-left: 12px;
}

.footer-title > span {
  color: #3162a4;
}

.footer-social-media-icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.follow-us-footer-icons-header {
  font-size: 1.3rem;
}
.footer-nour {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  align-items: flex-end;
  align-self: flex-end;
}

.footer-links-pages:hover {
  color: #3162a4;
  text-decoration: underline;
}
