

.contact-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 30px;
  border: 1px solid   #0b2239;
  }
  .contact-title,
  .contact-title-description {
    font-family: "Jost";
    margin: 0;
  
  }
  .contact-title {
    font-weight: bold;
  }
  .contact-icon {
    background-color:   #2d5276;
    border: 1px solid  #0b2239;
    color: gray;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-address {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 400px;
    text-align: start;
    
  }
  