.contact-card {
  display: flex;
  flex-direction: column;
  border: 2px solid whitesmoke;
  align-items: center;
  padding: 20px;
  width: 300px;
  gap: 30px;
  border-radius: 8px;
  
}
.contact-title,
.contact-title-description {
  margin: 0;
}
.contact-title {
  font-weight: 600;
}
.contact-icon {
  background-color: #2d5276;
  color: white;
  border-radius: 7px;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-address {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 200px;
  text-align: center;
}
